<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>adminlog</servlet-name>
        <servlet-class>za.ac.tut.controller.adminlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addStudent</servlet-name>
        <servlet-class>za.ac.tut.controller.addStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studLog</servlet-name>
        <servlet-class>za.ac.tut.controller.studLog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCompany</servlet-name>
        <servlet-class>za.ac.tut.controller.addCompany</servlet-class>
    </servlet>
    <error-page>
        <exception-type>javax.ejb.EJBException</exception-type>
        <location>/error.jsp</location>
    </error-page>
    <servlet>
        <servlet-name>companyLog</servlet-name>
        <servlet-class>za.ac.tut.controller.companyLog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPostAdmin</servlet-name>
        <servlet-class>za.ac.tut.controller.AddPostAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>apply</servlet-name>
        <servlet-class>za.ac.tut.controller.apply</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppicationList</servlet-name>
        <servlet-class>za.ac.tut.controller.AppicationList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSeeList</servlet-name>
        <servlet-class>za.ac.tut.controller.AdminSeeList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getSpecific</servlet-name>
        <servlet-class>za.ac.tut.controller.getSpecific</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateApplication</servlet-name>
        <servlet-class>za.ac.tut.controller.UpdateApplication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPostCompany</servlet-name>
        <servlet-class>za.ac.tut.controller.company.AddPostCompany</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getSpecificCompany</servlet-name>
        <servlet-class>za.ac.tut.controller.company.getSpecificCompany</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanySeelList</servlet-name>
        <servlet-class>za.ac.tut.controller.company.CompanySeelList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateApplicationCompany</servlet-name>
        <servlet-class>za.ac.tut.controller.company.UpdateApplicationCompany</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminlog</servlet-name>
        <url-pattern>/adminlog.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addStudent</servlet-name>
        <url-pattern>/addStudent.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studLog</servlet-name>
        <url-pattern>/studLog.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCompany</servlet-name>
        <url-pattern>/addCompany.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>companyLog</servlet-name>
        <url-pattern>/companyLog.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPostAdmin</servlet-name>
        <url-pattern>/AddPostAdmin.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>apply</servlet-name>
        <url-pattern>/apply.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppicationList</servlet-name>
        <url-pattern>/AppicationList.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSeeList</servlet-name>
        <url-pattern>/AdminSeeList.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getSpecific</servlet-name>
        <url-pattern>/getSpecific.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateApplication</servlet-name>
        <url-pattern>/UpdateApplication.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPostCompany</servlet-name>
        <url-pattern>/AddPostCompany.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getSpecificCompany</servlet-name>
        <url-pattern>/getSpecificCompany.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanySeelList</servlet-name>
        <url-pattern>/CompanySeelList.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateApplicationCompany</servlet-name>
        <url-pattern>/UpdateApplicationCompany.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
